.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    background-color: #c6c6c6;
    color: #333;
  }
  .btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
  }
  .btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
  }
  
  .local-usuario{
      margin-top: 0px !important;
  }

  .lblNomeDoUsuarioTitulo{
      font-weight: 400 !important;
      font-size: 1.8em;
  }

  .lblNomeDoUsuarioTitulo{
    word-wrap: break-word;
    color: #202124;
    line-height: 2.25rem;
  }

  .lblInfoInicialUsuario{
      color: #5f6368;
      line-height: 1.5rem;
      letter-spacing: .00625em;
  }

  #main{
      margin-top: 0px !important;
  }

  #wrapper{
      padding-top: 0px !important;
  }


  .card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-title{
    font-weight: 600;
    color: #202124;
    font-size: 1.4em !important;
    text-align: center;
}

.card-subtitle{
    font-weight: 400;
    color: #5f6368;
}

.card-icon{
    height: 180px;
}