.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    background-color: #c6c6c6;
    color: #333;
  }
  .btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
  }
  .btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
  }
  
  .local-usuario{
      margin-top: 0px !important;
  }

  .lblNomeDoUsuarioTitulo{
      font-weight: 400 !important;
      font-size: 1.8em;
  }

  .lblNomeDoUsuarioTitulo{
    word-wrap: break-word;
    color: #202124;
    line-height: 2.25rem;
  }

  .lblInfoInicialUsuario{
      color: #5f6368;
      line-height: 1.5rem;
      letter-spacing: .00625em;
  }

  #main{
      margin-top: 0px !important;
  }

  #wrapper{
      padding-top: 0px !important;
  }


  .card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-title{
    font-weight: 600;
    color: #202124;
    font-size: 1.4em !important;
    text-align: center;
}

.card-subtitle{
    font-weight: 400;
    color: #5f6368;
}

.card-icon{
    height: 180px;
}


.text-warning{
    color: #eb5e45;
}

.text-primary{
    color: #0094ff;
}

.local-atividades{
    margin-top: 0.9em !important;
}

.local-atividades span{
    width: 100%;
    display: table;
    font-size: 0.9em;
}

.atividade0{
    font-weight: bold;
}

/* CSS used here will be applied after bootstrap.css */
.badge-notify{
background:red;
position:relative;
top: -20px;
left: -23px;
max-height: 12px;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #0094ff;
    border-radius: 10px;
}

.btn-notificacao{
    color: #5f6368;
}
.lc-item-notificacao{
    padding-top: 60px;
    cursor: pointer;
}

#lblNomeDoUsuario{
    font-weight: 600;
}

.texto-mensagens{
position:relative;
top: -8px;
left: -23px;   
font-size: 0.9em;
}

.list-group {
    padding-left: 0;
    margin-bottom: 20px;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    max-width: 450px;
    list-style-type: disc;
}


.list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 100%;
    text-align: left;
}

.list-group:last-child{
    margin-bottom: 0;
}

#dvItemsNotificacao{
    width: 320px;
    text-align: left;
}

