body{
}

.card-icon{
    height: 10em;
    padding: 1em;
}

.card-icon img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#messagens-menu{
    width: 250px;
}

#barra-identidade{
    display: flex;
}

#barra-brasil{
    width: 100%;
}